html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1F1F1F;
  background-color: ;
}

p {
	margin: 0px;
}

button:hover {
	opacity: 0.8;
	transition: opacity 0.1s;
}

button {
	transition: opacity 0.1s;
	cursor: pointer;
	background-color: #0DADF2;

}

button:active {
	opacity: 1;
}


.main-div {
	display: flex; 
	flex-direction: column;
	height: 89vh;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.header {
	border-bottom: 1px solid #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	background-color: white;
	z-index: 100;
	flex-shrink: 0;

}



.left-div {
	flex: 1;
	padding-right: 25px;
}

.headline {
	font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
	text-align: center;
	margin: 20px;
	margin-bottom: 0px;
	padding-bottom: 7px;
}

.right-div {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	padding-left: 25px;
}

.text-links {
	color: black;
	text-decoration: none;
}

.logo {
	height: 45px;
}

.book-button {
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	outline: none;
}

@media (max-width: 750px) { /* apply only if 750px wide or less */
	.book-button {
		font-size: 10px;
		min-width: 100px;
	}

	.headline {
		font-size: 25px;
	}

	.caption, .user-input, .computer-response {
		font-size: 16px;
	}
}





.title-div {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 80%;
	margin: auto;
	text-align: center;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 25px;
}

.caption {
	font-size: 16px;
	margin-top: 0px;
	opacity: 0.7;
}

.convo-chat-div {
	width: 87%;
	flex-grow: 1;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-bottom: 50px;
	justify-content: space-around;
	overflow: hidden;
	padding: 10px;
	min-height: 350px;
}


.convo-div {
	box-sizing: border-box;
	padding: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
	margin-bottom: 20px;
		}

.convo-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



.chat-div {
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px 10px;

}

.chatbox {
	box-sizing: border-box;
	font-size: 16px;
	width: 100%;
	padding: 18px 30px;
	padding-right: 50px;
	outline: none;
	resize: none;
	border-radius: 30px;
	max-height: 85px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  border: 1px solid #DAEFF2;
  background-color: #F7F7F7;

}

.chatbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.arrow-button {
	position: absolute;
	right: 20px;
	bottom: 15px;
	height: 35px;
	width: 35px;
	border-radius: 25px;
	border: none;
}

.arrow-button img {
	height: 20px;
	
}


.user-input {
	display: inline-block;
	font-size: 16px;
	padding: 12px 25px;
	max-width: 80%;
	line-height: 22px;
	background-color: ;
	margin-left: auto;
	text-align: left;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: #DAEFF2;

}


.computer-response {
	display: inline-block;
	font-size: 16px;
	padding: 10px 25px;
	max-width: 80%;
	line-height: 22px;
	background-color: ;
	color: ;
	margin-right: auto;
	text-align: left;
	margin-bottom: 15px;
	border-radius: 10px;
}

.dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background: #0DADF2;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translateY(-5px);
  }
}





@media (max-width: 400px) {
	
		.logo {
			height: 35px;
		}

		.headline {
			font-size: 18px;
		}

		.caption, .user-input, .computer-response {
			font-size: 10px;
		}

		.book-button {
			font-size: 8px;
			min-width: 100px;
		}

		.left-div, .right-div {
			padding: 0px 5px;
		}

		.header {
			padding: 4px 9px;
		}

		.chatbox {
		font-size: 10px;
		padding-right: 50px;
		max-height: 50px;
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 14px;
		}

	.arrow-button {
		position: absolute;
		right: 14px;
		bottom: 8px;
		height: 20px;
		width: 20px;
		border-radius: 10px;
		border: none;


	}

	.arrow-button img {
		height: 9px;
		
	}

	.title-div {
		margin-bottom: 85px;
	}

}



     
